/* Purpose: the scss file for any variations unique to the home page (index.html) */
/* Styling for header and navbar */
header {
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  transition: 0.7s;
}
header .logo:hover {
  /* animates the logo with a rotation upon hover */
  opacity: 50%;
  transform: rotate(35deg);
}
header .name {
  display: none;
  /* this div will be hidden on smaller screens and styled below ready for larger screens */
  flex-direction: row;
  font-family: "Sora", serif;
  font-size: 1.5rem;
  padding-left: 20px;
  position: relative;
  top: -10px;
}
header nav {
  width: 40vw;
  margin-right: 20px;
  /* styling for text in navifation bar */
  font-family: "Sora", serif;
  color: #3C493F;
  text-decoration: none;
  font-size: 1.3rem;
}
header nav .navlink {
  /* styling for text in navifation bar */
  font-family: "Sora", serif;
  color: #3C493F;
  text-decoration: none;
  font-size: 1.3rem;
  transition-duration: 0.5s;
  width: 100%;
  padding: 15px 0;
  margin: auto;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: transparent;
}
header nav .navlink:hover {
  /* background of a menu option changes when hovered over */
  background-color: #A2E3C4;
  cursor: pointer;
  opacity: 70%;
}
header nav .menuButton {
  display: flex;
  background: transparent;
  border: none;
  /* ensures this button sits above other elements */
  z-index: 100;
  margin: auto;
  width: 100%;
}
header nav .menuButton .hamburgericon {
  max-width: 50px;
  width: 100%;
  margin: auto;
}
header nav .menuButton .hamburgericon:hover {
  /* opacity fade and change in cursor upon hover to indicate clicking will provide an action */
  opacity: 50%;
  cursor: pointer;
}
header nav .mobile-closed {
  /* hides the drop-down menu by default upon load */
  display: none;
  background-color: #7E8D85;
  opacity: 90%;
  border-radius: 20px;
  width: 40vw;
}
header nav .show {
  /* JS changes the class to this for menu when the menu button is clicked, this section specifies how it'll be displayed/positioned once shown */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

/* changes for tablet-sized screens and above */
@media screen and (min-width: 768px) {
  header .name {
    /* displays name next to logo once this width is reached */
    display: inline-flex;
  }
  header nav {
    /* adjusting width of mobile menu in relation to vw since screen size is now larger */
    width: 25vw;
  }
  header nav .mobile-closed {
    width: 25vw;
  }
}
/* changes for computer-sized screens and above */
@media screen and (min-width: 992px) {
  header nav {
    width: 30vw;
  }
  header nav .menuButton {
    /* hides the hamburger menu button now that nav links are horizontal */
    display: none;
  }
  header nav .mobile-closed {
    /* adjusts the nav bar to display horizontally */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
  }
  header nav .navlink {
    padding: 15px;
    background-color: transparent;
  }
  header nav .navlink:hover {
    /* animates the nav links when hovered */
    transform: translate(0, -5px);
  }
}
/* changes for larger computer-sized screens and above */
@media screen and (min-width: 1200px) {
  header nav .mobile-closed {
    /* adjusting right-side margin for even larger screens to have nav menu closer to screen edge */
    margin-right: 2vw;
  }
}
/* changes for even larger computer-sized screens and above */
@media screen and (min-width: 1400px) {
  header nav .mobile-closed {
    /* adjusting right-side margin for even larger screens to have nav menu closer to screen edge */
    margin-right: auto;
  }
}
body footer {
  /* to keep footer text at bottom of page regardless of length of content */
  position: absolute;
  bottom: 0.3rem;
  /* styling of text in footer */
  width: 98%;
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

/* Commence scss styling */
body {
  /* setting basic default styling for body elements */
  background-color: #F0F7F4;
  font-family: "Sora", serif;
  color: #3C493F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* ensures background color stretches entire vh even if content doesn't fill page */
  min-height: 100vh;
  /* required for the fade-in keyframe below */
  animation-name: fade;
  animation-duration: 1.5s;
  /* help keep footer text at bottom of all pages (when used in conjuction with _footer.scss */
  position: relative;
}
body main {
  padding-bottom: 2.5rem;
}

p {
  /* setting standard size for p elements */
  font-size: 0.9rem;
  line-height: 1.4rem;
}

@keyframes fade {
  /* fades-in html content on page upon load */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Commence scss styling */
body main {
  width: 90vw;
  /* centering horizontally but adding extra space on top */
  margin: 15px auto auto auto;
}
body main .flex-container {
  /* commonly used centered flex column display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .flex-container .home-text {
  text-align: center;
}
body main .flex-container .home-text h1 {
  color: #B3BFB8;
  font-size: 3rem;
  /* for when one or a few keywords change colour within a span */
}
body main .flex-container .home-text h1 span {
  color: #A2E3C4;
}
body main .flex-container .home-text h2 {
  font-size: 1.4rem;
}
body main .flex-container .home-text h3 {
  font-size: 2rem;
  /* brings the "hi i'm" to sit just above my name */
  margin-bottom: -45px;
}
body main .flex-container .image {
  width: 75vw;
}
body main .flex-container .image img {
  /* photo will grow and shrink between 200-450px depending on vw */
  width: clamp(200px, 100%, 450px);
  /* image elements default to inline so resetting back to block to allow for auto margin to center */
  display: block;
  margin: auto;
}
body main .flex-container .work button {
  margin-top: 30px;
  margin-bottom: 2rem;
  /* styling for the main button used across the site */
  background-color: #7E8D85;
  border: none;
  box-shadow: 5px 5px #B3BFB8;
  color: #A2E3C4;
  padding: 10px;
  text-align: center;
  font-family: "Sora", serif;
  font-size: 20px;
  transition: 0.5s;
}
body main .flex-container .work button:hover {
  /* hover behaviour for the above button */
  transform: scale(1.2);
  cursor: pointer;
}

/* changes for tablet-sized screens and above */
body {
  /* to prevent scrolling on tablet and desktop due to footer position */
  min-height: 97vh;
}
body main {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  body main .flex-container .home-text h1 {
    /* to grow font size of heading on larger screen */
    font-size: 4rem;
  }
}
/* changes for computer-sized screens and above */
@media screen and (min-width: 992px) {
  body main .flex-container {
    /* creating a flex row layout with wrap to allow button div to sit below heading while image on right side of screen */
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 50px;
  }
  body main .flex-container .home-text,
  body main .flex-container .image,
  body main .flex-container .work {
    /* max width each div can have to display two next to each other in flex row */
    width: 44vw;
  }
  body main .flex-container .home-text {
    /* text no longer to be centered now using a flex row design */
    text-align: left;
  }
  body main .flex-container .home-text h1 {
    font-size: 5rem;
  }
  body main .flex-container .home-text h2 {
    font-size: 1.5rem;
    position: relative;
    /* allows top and left measurements below to be used and position this offset from left */
    top: -40px;
    left: 25px;
  }
  body main .flex-container .work {
    /* commonly used centered flex column display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .flex-container .work button {
    margin-top: 0;
    position: relative;
    /* allows the button to be shifted upwards and fill the empty space */
    top: -90px;
  }
}/*# sourceMappingURL=home.css.map */