// Purpose: partial scss file to establish website's color scheme for use across all css files //

$color1: #0D0628;
$color2: #DA627D;
$color3: #DA627D;
$color4: #F9DBBD;
$color5: #FCA17D;
$color6: #FEF1EB;

