// Purpose: partial scss file to establish website's color scheme for use across all css files //

$color1: #3C493F;
$color2: #7E8D85;
$color3: #B3BFB8;
$color4: #F0F7F4;
$color5: #A2E3C4;
$color6: #E3F0E9;

